<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Classification</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Audio Classification</h1>

        <div id="errorDisplay" class="error-message"></div>

        <div class="card">
            <h2>File Upload</h2>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Upload an audio file:</label>
                    <input type="file" id="file" name="file" accept="audio/*" required>
                    <button type="submit">Submit File</button>
                </div>
            </form>
        </div>

       
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
